[submodule "pde1d"]
	path = pde1d
	url = https://github.com/jgoldfar/pde1d.git
  branch = fixup-build
[submodule "lbfgsb"]
	path = lbfgsb
	url = https://github.com/jgoldfar/lbfgsb-matlab.git
	branch = build-on-docker
